* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Selects all elements and sets their padding and margin to '0' */

body {
    background-color: #d9dcd6;
}
/* Sets the background color of the body */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Sets the background color of the header, the font and color of the text, as well as giving the header some padding */

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Sets the h1 of the header to display the properties of inline-block */

.seo {
    color: #d9dcd6;
}
/* Sets the color change shown in 'Horiseon' logo */

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Sets the alignment of the list, causes the elements to align to the right, and sets the font and size of the text */

.header div ul {
    list-style-type: none;
}
/* Gets rid of the bullets for the list */

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Lets the listed elements be side-by-side with a little space in between them  */

a {
    color: #ffffff;
    text-decoration: none;
}
/* This resets the text changes done by turning the listed items into links */

p {
    font-size: 16px;
}
/* Sets the text size for paragraphs */

.hero {
    height: 800px;
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero img {
    min-width: 100%;
    min-height: 100%
}
/* I am still unsure why this works, but it does. I pulled some of it off of stack overflow */
/* This was the only way I could find to set the large image properly within the webpage AND give the image alt text */
/* When I tried looking up how to set up alt text on background images, the internet told me 'No' */

.float-left {
    float: left;
    margin-right: 25px;
}
/* Allows some items in the individual 'content' boxes to align to the left */

.float-right {
    float: right;
    margin-left: 25px;
}
/* Allows some items in the individual 'content' boxes to align to the right */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Allows the 'content' and the 'benefits' boxes to be next to each other with some space in between */

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Defines the dimensions of the individual 'content' boxes, sets their background color, and sets the font and the color of the text */

.content div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Makes the headers of the individual 'content' boxes a little bigger*/

.content div img {
    max-height: 200px;
}
/* Limits the size of the 'content' images  */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: #2589bd;
}
/* Defines and fills out the 'benefits' box, aligns the box to the right, sets the background color and the font and color of the text */

.benefits div {
    margin-bottom: 32px;
}
/* Allows there to be a little space between the individual 'benefits' boxes */

.benefits div h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Aligns the 'benefits' headers to the center and gives some space between the headers and the paragraphs */

.benefits div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Centers and resizes the images in 'benefits' */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Gives a little space around the footer, aligns the text, as well as changes the font */

.footer h4 {
    font-size: 20px;
}
/* Changes the size of the text */